
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
platforms/
plugins/
resources/
ul_web_hooks/
www/
assetlinks.json
dist/
framework7.json
config.xml
google-services.json
GoogleService-info.plist
muvi_hub.keystore
jsconfig.json
placeholders/
assets-src/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Misc
.DS_Store
Thumbs.db


# okay



