<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081837361041-ppc3g3te08gvbeg1p1u017d62d5ban0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081837361041-ppc3g3te08gvbeg1p1u017d62d5ban0e</string>
	<key>API_KEY</key>
	<string>AIzaSyD5pacYshteqULVcHGXsVD9RxZ_gUnQ3uM</string>
	<key>GCM_SENDER_ID</key>
	<string>1081837361041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>muvi.anime.hub</string>
	<key>PROJECT_ID</key>
	<string>movieapp-a6a2a</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-a6a2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081837361041:ios:15c381740de7ba68f96c30</string>
	<key>DATABASE_URL</key>
	<string>https://movieapp-a6a2a-default-rtdb.firebaseio.com</string>
</dict>
</plist>